#wpcontent {
    padding-left: 0 !important;
    position: relative;
}
.cwv-chat-settings {
    margin: 0;
}
.cwv-chat-header {
    border-top: 3px solid #e27730;
    padding: 22px 20px;
}
.cwv-chat-admin-tabs {
    background-color: #fff;
    margin: 0 0 20px 0;
    padding: 0 20px;
    list-style: none;
    overflow: auto;
    font-size: 14px;
}
.cwv-chat-admin-tabs li {
    margin: 0 30px 0 0;
    padding: 0;
    float: left;
}
.cwv-chat-admin-tabs li a.cwv-tab-active {
    border-color: #2196F3;
}
.cwv-chat-admin-tabs li a {
    color: #666;
    display: block;
    padding: 20px 0 18px 0;
    text-decoration: none;
    border-bottom: 2px solid #fff;
    box-shadow: none;
}
.cwv-chat-setting-fields {
    padding-left: 20px;
    padding-right: 20px;
}
.cwv-chat-setting-fields form h2 {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 14px;
    border-bottom: 1px solid #e4e4e4;
    margin: 30px 0 20px 0;
}
.cwv-chat-setting-fields fieldset {
    padding: 2px 0;
}
.cwv-chat-setting-fields #submit {
    background-color: #2196F3;
    border-color: #359ef5;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    padding: 8px 12px;
    min-height: 35px;
    border: 1px;
    border-style: solid;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    box-shadow: none;
}
